.main {
  background-color: #301949;
  width: 100%;
  height: 100%;
  margin-top: auto;
  font-family: sans-serif;
}

.cardSet {
  margin: 16px;
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 30px;
  width: 1000px;
}

@font-face {
  font-family: "Galada-Regular";
  src: url(./Galada-Regular.ttf);
}

.cards {
  height: 150px;
  width: 120px;
  border-color: rgb(37, 0, 63);
  border-width: thick;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #47246d;
  border-radius: 10px;
}

.cards:hover {
  box-shadow: 0 0 40px 10px #47246d;
  cursor: pointer;
}

#image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  max-width: 200px;
  max-height: 100px;
  width: auto;
  height: auto;
}

#image-container {
  margin-top: auto;
  margin-bottom: 8px;
}

#card-text {
  margin-top: auto;
  margin-bottom: 12px;
  color: goldenrod;
  font-family: "Galada-Regular", sans-serif;
  font-size: large;
}

#win-game-message {
  margin-left: 96px;
  margin-top: 96px;
  margin-bottom: 32px;
  font-family: "Acme-Regular", sans-serif;
  font-size: 56px;
  color: white;
}

#button-container {
  margin-left: 320px;
  font-family: "Acme-Regular", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.win-choice {
  background-color: #47246d;
  border: none;
  font-family: "Acme-Regular", sans-serif;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.win-choice:hover {
  box-shadow: 0 0 40px 5px #47246d;
  cursor: pointer;
}
